*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", serif;
}
:root{
    --bg-color: #0c0c0c;
    --text-color:#fff;
    --main-color:#ae8957;

    --big-font:6.6rem;
    --p-font:1rem;
}
body{

    font-family: "Poppins", sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding:35px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}
 .logo img{
    width:100;
    height: auto;
}
.Navlist{
    display: flex;

}
.Navlist a{
    display: inline-block;
    margin:0 18px;
    color: var(--text-color);
    font-size: var(--p-font);
    transition: all .6s ease;
} 
.Navlist a:hover{
    color: var(--main-color);
}
.right-content{
    display: flex;
    align-items: center;
}
.nav-btn{
    display: inline-block;
    padding: 9px 24px;
    background: transparent;
    border: 2px solid var(--text-color);
    border-radius: 7px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition:all .6s ease;
}
.nav-btn:hover{
    transform: translateY(-5px);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}
#menu-icon{
    font-size: 42px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

.animate-text
{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(to right,
    #7C6FF4,#EBEBEB,#7C6FF4);
    background-size: 200%;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient
{
    to{
        background-position: 200%;
    }
}
.btn{
    display: inline-block;
    flex: 1 1 auto;
    margin-right: 20px;
    padding:13px 32px;
    text-align: center;
    text-transform:uppercase ;
    transform: 0.5s;
    background-size: 200% auto;
    color: var(--text-color);
    border-radius: 50px;
    background-image: linear-gradient(to right,#6B01FF,var(--text-color));
}
.btn:hover{
    transform:scale(1.1);
    transition: all .50s ease;
}
section{
    padding: 0 8%;
}
.hero{
    position:relative;
    width: 100%;
    height: 100vh;
    /* background: url(img/bg.png); */
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
.hero-img img
{
    width: 80%;
    height: auto;
    margin-top: 5em;
    margin-left: 10em;
}
.hero-text h1{
    font-size: 5rem;
    font-weight:900 ;
    margin: -18.5px 0;
}
.hero-text h5{
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1em;
}
.hero-text p{
    width: 100%;
    max-width: 400px;
    font-size:var(--p-font);
    font-weight: 400;
    line-height: 32px;
    color: var(--text-color);
    margin-bottom: 40px;
    margin-top: -12px;
}
.scroll{
    position: absolute;
    top:92%;
    right:7%;
    transform: translateY(-50%);
}
.scroll a{
    font-size: 16px;
    color: var(--text-color);
}
.scroll i{
    font-size: 20px;
    color:var(--text-color);
    margin: 6px;
}
.industries h5{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(to right,
    #0030AA,#ffff,#0030AA);
    background-size: 200%;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
/* slider */
.swiper{
    width: 100%;
    margin-top: -8em;
  
}
.swiper-wrapper{
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
}

.card{
    width: 20em;
    height: 50%;
    background-color: #ae8957;
    border-radius: 2em;
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}
.card_image{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid white;
    padding: 3px;
    margin-bottom: 2em;
}
.card_image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}
.card-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card_title{
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
    top: .2em;
    color: white;
}

/* About section */
.about-section
{
    width: 100%;
    min-height: 100vh;

}
.about-container
{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section
{
    float: left;
    width: 55%;
}
.video-section
{
    float: right;
    width: 40%;
    border: 8px solid white;
}
.video-section iframe{
    width: 100%;
}
.content-section .about-title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .about-title::before{
    position: absolute;
    content: '';
    width: 5%;
    margin-left: 10px;
    height: 0.2em;
    background: linear-gradient(45deg, #6B01FF,#fff,#6B01FF);
    margin-top:80px ;
    border-radius: 100px;
}
.content-section .about-content p{
    margin-top: 20px;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    width: 65%;
}
.content-section .about-content .about-button a
{
    display: inline-block;
    flex: 1 1 auto;
    margin-right: 20px;
    padding:13px 32px;
    text-align: center;
    text-transform:uppercase ;
    transform: 0.5s;
    background-size: 200% auto;
    color: var(--text-color);
    border-radius: 50px;
    background-image: linear-gradient(to right,#6B01FF,var(--text-color));
}
.content-section .about-content .about-button{
    margin-top: 30px;
}
.content-section .about-content .about-button a:hover{
    transform:scale(1.1);
    transition: all .50s ease;
}


@media screen and (max-width:950px)
{
    .about-container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .video-section{
        float: none;
        width: 100%;
    }
    .video-section iframe{
        width: 100%;
        height: auto;
        display:block ;
        margin:auto;
    }
    .content-section .about-content p{
        margin-top: 18px;
        color: white;
        font-size: 18px;
        line-height: 1.5;
        width: 50%;
        text-align: center;
    }
    .content-section .about-title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .about-content .about-button{
        text-align: center;
        margin-bottom: 20px;
    }
    .content-section .about-content .about-button a{
        padding:11px 30px;
    }
}

@media(max-width:1770px)
{
    header{
        padding: 22px 4%;
    }
    .scroll{
        right: 4%;
    }
}
@media(max-width:1670px)
{
    :root{
        --big-font:3.5rem;
        --p-font:15px;
    }
}
@media(max-width:1370px)
{
    section{
        padding: 0 4%;
    }
}
@media(max-width:1150px)
{
    :root{
        --big-font:3rem;
    }
    .btn{
        padding:10px 23px;
    }
}
@media(max-width:950px)
{
    #menu-icon{
        display:block;
    }
    .Navlist{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 100px 50px;
        top :0;
        right: 0;
        left: 100%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(32px);
        transition: all .6s ease-in-out;
    }
    .Navlist a{
        display: block;
        padding: 0;
        margin: 0px 0px 25px 0px;
        font-size: 1.7rem;
    }
    .Navlist.open{
        left:0;
    }
}
@media(max-width:920px)
{
    .scroll{
        display: none;
    }
    .hero{
        grid-template-columns: 1fr;
        height:auto;
    }
    .hero-text{
        padding-top:10rem;
    }
    .hero-img{
        height: 500px;
        width: 500px;
        margin: 0 auto;
    }
    .hero-img img{
        width: 100%;
        height: 100%;
        object-fit:contain ;
    }
}

@media(max-width:570px)
{
    .hero{
        height:100vh;
    }
    .hero-img
    {
        height: 400px;
        width: 400px;
        margin: 0 auto;
    }
    :root{
        --big-font:2.7rem;
    }
}
@media(max-width:440px)
{
    :root{
        --big-font:2.5rem;
    }
    .hero-text h5{
        font-size:15px;
    }
    .hero-img{
        height: 360px;
        width: 360px;
        margin: 0 auto;
    }
}